/**
    
    Diseño de la aplicación.
    
    En términos generales.
    
    Las modificaciones de algún elemento solo para un apartado
    estará en un archivo con el nombre de la página y la extensión .css
    
**/

/**  Reset **/

    @import url("reset.css");

/** Tipografías **/

    @import url("fonts.css");

/** Generales **/
    
    body{
        background: rgb(245,245,245);
    }
    
    header{
        width: 100%;
        height: 50px; 
                
        background: rgb(35,81,127);
        
        color: white;
        
        font-size: 19px;
        font-family: Square;
        
        position: fixed;
        top: 0;
    }
    
    header .toolbar {
        float: right;
    }
    
    header .toolbar .element_toolbar{
        float: left;
        position: relative;
        min-width: 80px;
        text-align: center;
        margin-right: 15px;
        padding: 15px 10px 16px 10px;
        cursor: pointer;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    
    header .toolbar .element_toolbar:hover{
        background: #FFF;
        color:rgb(34,81,127);
    }
    
    header .toolbar .special{
        border-radius: 8px;
        background: rgba(87,142,250,0.5);
        margin-top: 8px;
        margin-right: 25px;        
        padding: 7px 10px 8px 10px;
        font-family: Shangai;
    }
    
    header .toolbar .element_toolbar .sub_toolbar{
        display: none;
        
        position: absolute;
        margin-top: 16px;
        right: 0;
        
        background: white; 
        color: rgb(34,81,127);
        
        font-size: 16px;
        text-align: left;
        
        border-left: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.2); 
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
        width: 180%;
    }
    
    header .toolbar .element_toolbar:hover .sub_toolbar{
        display: block;
    }
    
    header .toolbar .element_toolbar .sub_toolbar:hover{
        display: block;
    }
    
    header .toolbar .element_toolbar .sub_toolbar .element_sub_toolbar{
        position: relative;
        padding: 10px 20px 11px 10px;
        
        background: rgba(34,81,127,0.2);
        color: black;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    
    header .toolbar .element_toolbar .sub_toolbar .element_sub_toolbar:hover{
        background: white;
        color: rgb(34,81,127);
    }
    
    header .sub_sub_toolbar{
        display: none;
        
        position: absolute;
        margin-top: -26.5px;
        right: 100%;
        
        background: white; 
        color: rgb(34,81,127);
        
        font-size: 16px;
        text-align: left;
        
        border-left: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1); 
        border-top: 1px solid rgba(0,0,0,0.1);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
        width: 100%;
    }
    
    header .element_sub_toolbar:hover .sub_sub_toolbar{
        display: block;
    }
    
    header .sub_sub_toolbar:hover{
        display: block;
    }
    
    header .sub_sub_toolbar .element_sub_sub_toolbar{
        position: relative;
        padding: 10px 20px 11px 10px;
        
        background: rgba(34,81,127,0.1);
        color: black;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    
    header .element_sub_sub_toolbar:hover{
        background: white;
        color: rgb(34,81,127);
    }
    
    img.language{
        float: right;
    }
    
    #logo {
        text-align: center;
        font-family: Square;
        color: rgb(255,255,255);
        padding: 6px 20px 6px 10px;
        float: left;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    #logo:hover{
        color:rgb(34,81,127);
        text-shadow: 1px 0 0 #fff, 
                    -1px 0 0 #fff,
                    0 1px 0 #fff, 
                    0 -1px 0 #fff, 
                    1px 1px #fff, 
                    -1px -1px 0 #fff, 
                    1px -1px 0 #fff, 
                    -1px 1px 0 #fff;
    }

    #logo h1{
        font-size: 30px;
    }

    #logo h1 span{
        font-size: 34px;
        font-family: Shangai;
        margin-right: -2px;
    }
    
    section{
        padding: 60px 0 0 0;
        min-height: 90%;
    }

    a {
        color: rgb(100,100,255); 
        cursor: pointer;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    
    
    a:hover{
        text-decoration: underline;
    }
    
    #wrapper{
        margin: 15px auto;    
        width: 900px;   
        text-align: left;
    }
    
    #wrapper h1{
        font-size: 40px;
        color: black;
        font-family: Square;
    }
    
    #wrapper h2{
        font-size: 25px;
        color: black;
        font-family: Square;
        text-decoration: underline;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    table{
        border-collapse: collapse;
    }    
        
    #wrapper table tr td{
        font-family: Square;
        padding: 20px 10px 20px 10px;
        border: 2px solid rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.5);
        font-size: 14px;
    }
    
    #wrapper table tr.top td{
        color: black;
    }
    
    #wrapper table tr td.empty{
        border: none;
    }
    
    .button {
        border-radius: 8px;
        background: rgba(61,112,189,1);
        width: 100px;
        margin-top: 8px;
        margin-right: 25px;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        font-family: Shangai;
        border: 1px solid rgba(61,112,189,1);
        color: rgba(255,255,255,1);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
        cursor: pointer;
        float: left;
        margin-left: 112px;
    }

    .button:hover {
        background: rgba(87,142,250,0.0);
        color: rgba(87,142,250,1);
    }
    
    hr{
        border: 1px solid rgba(0,0,0,0.3);    
    }
    
    footer{
        
    }
    
    .formIncidence .input-field2, .input-field{
        border: 1px solid rgba(0,0,0,0.4);
        padding: 10px;
        width: 225px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .formIncidence td{
        text-align: right;
        padding: 5px;
    }
    
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 50px; 
        padding: 10px;
        padding-right: 20px; 
        border: 1px solid rgba(0,0,0,0.2);
        cursor: pointer;
    }
    
    .formIncidence select{
        margin: 0;
    }
    
    .simple-button{
        float: right; margin-right: 100px; margin-top: 10px; border: 1px solid rgba(0,0,0,0.6); background: transparent; cursor: pointer; padding: 5px; border-radius: 6px;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
    .simple-button:hover{
        background: rgba(87,142,250,1); color: white;
    }
    
    .register td{
        padding: 0px 20px 10px 5px;
        text-align: right;
    }
    
    #wrapper table.buscador tr td{
        border: none;
        padding: 5px;
    }
    
    table.buscador {
        width: 100%;
    }
    
    #wrapper table tr td.editar{
        min-width: 0;
        padding: 10px;
        text-align: center;
        font-family: Shangai;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    
    #wrapper table tr td.editar:hover{
        color: green;
    }
 
    #wrapper table tr td.X{
        min-width: 0;
        padding: 10px;
        text-align: center;
        font-family: Shangai;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    #wrapper table tr td.X:hover{
        color: red;
    }