
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 50px; 
    padding: 10px;
    padding-right: 20px; 
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    float: left;
}

.input-field{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-family: Square; 
    background: #efefef;  
}

div.X {
    width: 10px;
    padding: 10px;
    font-family: Shangai;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    float: left;
}

div.X:hover{
    color: red;
}