#wrapper table#table_dependencies{
    width: 800px;
    float: left;
    /*background: red;*/
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#wrapper table tr td.X{
    min-width: 0;
    padding: 0;
    text-align: center;
    font-family: Shangai;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

#wrapper table tr td.X:hover{
    color: red;
}

#wrapper table tr td{
    padding: 5px 10px 5px 10px;
}

 #wrapper table tr.top td{
    color: black;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-family: Square;
}

.info {
    padding: 20px;
    font-size: 20px;
    width: 500px;
    margin-left: 250px;
    color: rgb(35,81,127);
    font-family: Square;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.info:hover{
    color: rgba(87,142,250,1);
    text-decoration: underline;
}

.options{
    text-align: center;  
    margin-top: 40px;  
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 50px; 
    padding: 10px;
    padding-right: 20px; 
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.input-field{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-family: Square; 
    background: #efefef;  
}